@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}



.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}

/*

NAVBAR

*/

nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}


.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
    font-weight: 900;
}

.logo__img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}
.logo__link {
    font-size: 24px;
    color: #243e63;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 14px;
    margin: 0 24px;
    padding: 0 0 4px;
    font-weight: 600;
    color: #243e63;
}

.nav__link-secondary {
    margin: 0 24px 0 48px;
}

.nav__link-primary {
    color: #f7fafc;
    border: none;
    border-radius: 9999px;
    background: #6415ff;
    padding: 12px 32px;  
    font-weight: 600;
}

/*

HEADER

*/

.about__wrapper {
    display: flex;
    align-items: center;
}

.about__left--wrapper {
    width: 40%;
}


.header__about {
    width: 100%;
    color: #1a202c;
    font-size: 48px;
}

.about__para {
    width: 100%;
    margin: 32px 0;
    font-size: 18px;
    color:#243e63;
}

.input__wrapper {
    display: flex;
    align-items: center;
    border: solid 2px rgb(226, 232, 240);
    border-radius: 9999px;
    padding: 4px;
}

input {  
    opacity: 40%;
    flex: 1;
    min-width: 0;
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 9999px;
    padding: 16px 28px;
}

.btn__input {
    width: 160px;
    height: 52px;
    border: none;
    flex-shrink: 0;
    border-radius: 9999px;
    background-color:#6415ff;
    color: #f7fafc;
    margin: 0;
    padding: 16px 0;
    position: static;
    right: 8px;
    top: 50%;
    font-weight: 700;
    font-size: 16px;
}

.about__customers--wrapper {
    width: 100%;
    margin: 80px 0 0;
}

p {
    color:#a0aec0;
}

.customers {
    max-width: 100%;
    margin: 16px 0 0;
    padding: 0 128px 0 0;
    opacity: 50%;
}


.about__right--wrapper {
    width: 60%;
    display: flex;
}
.about__img {
    width: 100%;
    height: 100%;
}



/*
FEATURES

*/

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.features__grid {
    display: flex;
    flex-wrap: wrap;
}

.features__subtitle {
    font-size: 16px;
    font-weight: 700;
}

.features__title {
    font-size: 48px;
    color: #243e63;
}

.features__para {
    font-size: 18px;
    color: #7c8ba1;
    margin: 16px 0 0;
}

.feature {
    display: flex;
    width: calc(100% / 3)
}

.feature__img-wrapper {
    width: 66px;
    height: 66px;
    padding: 20px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 9999px;
}

