@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Inter", sans-serif;
}

body {
    max-width: 100%;
}

.bg__div {
    padding: 32px;
}

a {
    text-decoration: none;
}

p {
    font-size: 12px;
    color: #a0aec0;
}

/* 

HEADER 

*/

img {
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}

.navbar {
    width: 100%;
    max-width: 1200px;
    display: flex;
}

.nav__links {
    width: 100%;
    display: flex;
    align-items: center;
    
}

.nav__link--app-download {
    font-size: 24px;
    font-weight: 800;
    color: #243e63;
    margin: 0px 24px 0px 0px;
    padding: 0px 0px 4px;
    display: flex;
    align-items: center;
}

.light__nav-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    flex-wrap: nowrap;
}

.light__navlink {
    font-size: 14px;
    margin: 0 24px;
    padding: 0 0 4px;
}

.light__navlink--styled {
    margin: 0 24px 0 48px;
}

.nav__link--primary {
    color: #f7fafc;
    background-color: #6415ff;
    padding: 12px 32px;
    border-radius: 12px;
    white-space: nowrap;
    display: inline-block;
}

/* 

*/

.row {
    display: flex;
    padding: 96px 0 96px 0;

}

.left__column--para {
    color: #243e63;
    margin: 32px 0;
}

.left__column {
    width:41%;
    text-align: left;
}

.left__column--customers-container {
    padding: 80px 0 0;
}

input {
    border: none;
}

.customers__img {
    width: 100%;
    height: auto;
    margin: 16px 0 0 0;
    opacity: 0.5;
}

.right__column {
    width: 59%;

}
.right__column--img {
    width: 100%;
    height: 100%;
}